<!DOCTYPE html>
<html lang="de">
<head>
    <title>Temperature</title>
    <script src="../static/js/Chart.bundle.min.js"></script>
    <script src="../static/js/vis.min.js"></script>
    <link href="../static/js/vis.min.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<h1>Hello World</h1>
{#<div id="visualization"></div>#}

<canvas id="myChart" height="400" width="400"></canvas>
<script>
{#    var container = document.getElementById('visualization');#}
{#    var data = [#}
{#        {id: 1, content: 'item 1', start: '2013-04-20'},#}
{#        {id: 2, content: 'item 2', start: '2013-04-14'},#}
{#        {id: 3, content: 'item 3', start: '2013-04-18'},#}
{#        {id: 4, content: 'item 4', start: '2013-04-16'},#}
{#        {id: 5, content: 'item 5', start: '2013-04-25'},#}
{#        {id: 6, content: 'item 6', start: '2013-04-27'}#}
{#    ];#}
{#    var options = {};#}
{#    var timeline = new vis.Timeline(container, data, options);#}

    date = [];
    hum_data = [];
    temp_data = [];

    function makeArr(arr, dump) {
        arr.push(dump)
    }

    {% for item in labels%}
        makeArr(date, {{ item|safe }})
    {% endfor %}

    {% for item in hum_data %}
        makeArr(hum_data, {{ item|safe }})
    {% endfor %}

    {% for item in temp_data %}
        makeArr(temp_data, {{ item|safe }})
    {% endfor %}
</script>
<script src="../static/js/graph.js"></script>

</body>
</html>